
.nav-container {
    width: 100%;
    display: flex;
    flex-direction: start;
    background-color: rgb(206, 245, 242) ;
    align-items: center;
    
}
.icon {
    font-size: 3em;
    margin-left: 5px;
}


.page-container {
    background-color:transparent;
    color:black;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;



}


.page-wrapper input {
    background-color: transparent;
    width:100%;
    border:1px transparent ;
    border-bottom: 2px solid lightblue;
    margin-top: 10px;
    outline: none;
    text-decoration: none;
}

.main-btn button {
    margin-top:20px;
    background-color: rgb(23, 233, 233);
    border:none;
    padding:6px;
    outline: none;

}

.render-container {
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 500px;
}

.list-container {
    color:black;
   
    margin-top:5px;
}
.the-img {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    
}
.list-container img {
    width: 100%;
    height: 100%;
    
}

.list-container li {
    display: grid;
    grid-template-columns: 3fr 1fr;

}


.page-wrapper h3 {
    font-size: 2em;
}
.invalid-data {
    color:red;
    font-size: 2em;
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.remove-btn button {
    background-color: transparent;
    border: 0px;
    padding:0px;
    margin-left: 10px;
    transition: 0.5s ease-in-out;
}
.remove-btn button:hover {
    font-size: 2em;
    color:red;
    cursor: pointer;

}

.text-wrapper {
    font-size:2em;

}

.text-wrapper a {
    color: blue;
    text-decoration: underline;
}
.text-wrapper a:hover {
    cursor:pointer;
}

.invalid-data {
    margin-top:10px;
    display: grid;
    grid-template-columns: 1fr;
    color:red;
    
    font-size: x-small;
}



html {
    font-size: 62.5%; /* 1rem is 10px */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  margin:0px;
  background-color: rgb(206, 245, 242) ;
}

.app {
    display: grid;
    justify-items: center;
}